body{
    font-family: 'Playfair Display',serif;
    font-family: 'Ubuntu', sans-serif;
}
.header{
    text-align: center;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 100px;
}
.link{
    text-decoration: none;
    color: #7d7d7d;
}
.link-active{
    color: #03a9f4;
}
.div2{
    margin: 70px 315px 0 315px;
}
.main{
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 50px;
}
.block{
    width: 400px;
}
.img{
    width: 420px;
    height: 280px;
}
.p{
    color: #B4AD9E;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}
.p1{
    font-family: 'Alkatra';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    color: #626262;
}
.p2{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;
    width: 420px;
    height: 76px;
}
.btn{
    cursor: pointer;
    display: block;
    width: 165px;
    height: 60px;
    margin: 100px auto;
    background: none;
    border: 1px solid #626262;
}